*.pyc
*.pyo
*~
*#
*.bak
*.aux
*.pdf
conda_constructor/*.sh
conda_constructor/*.exe
conda_constructor/*.pkg
__pycache__
.deps
doc/_build
MANIFEST
build
dist
dylibs/*/*.o
dylibs/*/*.dll
dylibs/*/*.so
dylibs/*/*.dylib
dylibs/*/Mk.install
dylibs/*/Mk.config
sandbox/
tests/.cover
play/
AMAP/
*.h5
*.mca
*credentials*
.DS_Store
Thumbs.db
*.egg-info
*.ipynb_checkpoints/
.vscode/
.empty/
