# Auto detect text files and perform LF normalization
* text=auto eol=lf

larch/bin/*/feff8l_* -text
larch/bin/*/feff6l -text
*.exe -text
*.dll -text
*.so -text
*.dylib -text
*.so.* -text
*.a -text
*.mod -text
*.nib -text
*.jpg -text
*.png -text
*.ico -text
*.prj -text
*.h5 -text
*.tiff -text
*.icns -text
*.db -text
*.pdf -text
*.gz -text

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
