# List of larch extra dependencies to enable extra features.
# Install with :
#   pip install -r ./requirements-extra.txt
# Many of these will be installed by default when running
#   larch -m
wxpython>=4.1
wxutils>=0.3.0
wxmplot>=0.9.53
pyepics>=3.5.0
epicsapps
psycopg2-binary
pytest
sphinx
numpydoc
sphinxcontrib-bibtex
sphinxcontrib-argdoc
PyQt5
pyqtwebengine
pyqtgraph
