# List of all dependencies of larch
# Recommended installation with conda:
# conda config --env --append channels GSECARS
# conda config --env --append channels conda-forge
# conda install --file ./requirements.txt
scipy>=1.2
numpy>=1.12
matplotlib>=3.0
sqlalchemy>=0.9
h5py>=2.8
pillow
peakutils
requests
fontconfig
scikit-image
scikit-learn
asteval>=0.9.19
lmfit>=1.0
uncertainties>=3.1
pyshortcuts>=1.7
wxpython>=4.0.4
wxutils>=0.2.3
wxmplot>=0.9.43
xraydb>=4.4
pip
setuptools
pyyaml
psutil
nose
pytest
termcolor
silx>=0.12
pyyaml


