# List of larch extra dependencies to enable extra features.
# Install with :
#   pip install -r ./requirements-extra.txt
#  or
#   conda config --env --append channels conda-forge 
#   conda install --file ./requirements-extra.txt
pyepics>=3.4.1
PyQt5==5.14
pyqtwebengine==5.14
fabio
pyfai
pycifrw
psycopg2
