name: Test with Windows, Conda

on: [push]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12']
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python from Miniconda
      uses: conda-incubator/setup-miniconda@v2.2.0
      with:
        miniconda-version: latest
        channels: conda-forge,defaults
        channel-priority: true
        activate-environment: anaconda-client-env
        python-version: ${{ matrix.python-version }}
    - name: Install conda dependencies
      run: |
        printenv
        conda install -y -c conda-forge python=${{ matrix.python-version }} "numpy>=1.23" "scipy>=1.8" "matplotlib>=3.6" "h5py>=3.5" "wxpython>=4.2" scikit-image scikit-learn pycifrw pandas jupyter plotly pyparsing pytest pytest-cov coverage
    - name: Install xraylarch and other dependencies with pip
      run: |
        printenv
        pip install ".[all]"
    - name: Run test suite
      run: |
        cd tests
        python -m pytest
